node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/build-node
/build-static

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Tauri
src-tauri/target
src-tauri/gen/schemas

# Capacitor
android/.idea

# Android Keystore
release.jks
release.jks.base64
release.decrypted.jks